html,
body {
  width: 100%;
  height: 100%;
}



h1, h2, h4 {
  font-family: 'Anton', sans-serif;
  font-weight:50px;
  font-size:30px;
  color:#808080;
}

p {
  font-family: 'Jura', sans-serif;
}

.navbar  {
  width: 100%;
 
  background-color:cornflowerblue !important;
  background-size: cover;
  
}  
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
}


.navbar a {
  color: white !important;
}

.navbar a {
    
    transition: all .35s;
    color:#ffffff;       /*when hover transition*/
  }
  
  .navbar a:hover, a:focus {
    color: #fcbd20 !important;              /*changes color*/
  }  



.jumbotron {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}   


.container-fluid .row img {
    width:350px;
    height:350px;
    border-radius: 50%   /*round shape*/
}

.imageContainer  {
    height:100%;
}

.card-img-top  {
    height:79%;              /* Needed to adjust the first card  */
}
.container .about-me {
  margin-top: 40px;
}

.container .skills {
  margin-top:30px;               
}

.list    {    
    color: #000000;
}
.cardContainer {
  margin-top: 20px;
  text-align: center;
}
.card {
  margin: 0 auto;
}

.content {

  padding:30px;
}


footer {
    width:100%;
    height:60px;
    background-color:#c0c0c0;
    margin: 20px;
}    

.contact-section .card {
    background:none;
    color:#ffff00;
    border: 2px solid #c0c0c0;    
  
}

@media (max-width:768px)    {
    
.imageContainer {
    margin-right:10px;
    margin-left:10px;
}   

footer  {
    width:100%;
}
}

